*{
    margin: 0;
    padding: 0;
}
.titulo{
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: left;
    padding: 20px;
    background-color: red;
    border-radius: 15px;
    border-bottom: 15px;
    
}
.curso{
    text-align: left;
    padding: 15px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
} 
.card-img-top{
    width: 140px;
    height: 150px;
}